<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DSA Java Codex{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <header>
        <h1>DSA Java Codex</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/arrays">Arrays</a>
        <a href="/linkedlists">Linked Lists</a>
        <a href="/stacks">Stacks</a>
        <a href="/bfs_dfs">BFS & DFS</a>
        <a href="/trees">Trees</a>
        <a href="/graphs">Graphs</a>
        <a href="/hashtables">Hash Tables</a>
        <a href="/sorting">Sorting</a>
        <a href="/dp">Dynamic Programming</a>
    </nav>
    <div class="container">
        <div class="book-section">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>